# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Firebase\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\firebase_code\Firebase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
